trigger: none

pool: my agent pool

steps:
# - task: PowerShell@2
#   displayName: Biome
#   continueOnError: true
#   inputs:
#     targetType: 'inline'
#     script: 'biome lint .\src --reporter=junit > result22.xml'
# - task: PublishPipelineArtifact@1
#   inputs:
#     targetPath: '$(Pipeline.Workspace)'
#     artifact: 'biome artifact'
#     publishLocation: 'pipeline'

# - task: PowerShell@2
#   displayName: Stylelint Tool
#   continueOnError: true
#   inputs:
#     targetType: 'inline'
#     script: 'stylelint .\src\App.css --config stylelint.config.mjs'
# - task: PublishPipelineArtifact@1
#   inputs:
#     targetPath: '$(Pipeline.Workspace)/stylelintresult.json'
#     artifact: 'stylelintresult.json'
#     publishLocation: 'pipeline'

- task: PowerShell@2
  displayName: Stylelint Tool
  continueOnError: true
  inputs:
    targetType: 'inline'
    script: |
      stylelint .\src\App.css `
        --config stylelint.config.mjs `
        --formatter json `
        > $(Pipeline.Workspace)/stylelintresult.json

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)/stylelintresult.json'
    artifact: 'stylelint-result'
    publishLocation: 'pipeline'



# - task: SonarQubePrepare@8
#   inputs:
#     SonarQube: 'ado-sonar-svc'
#     scannerMode: 'cli'
#     configMode: 'file'

# - task: SonarQubeAnalyze@8
#   inputs:
#     jdkversion: 'JAVA_HOME_17_X64'

# - task: SonarQubePublish@8
#   inputs:
#     pollingTimeoutSec: '300'


# steps:
# - task: NodeTool@0
#   inputs:
#     versionSource: 'spec'
#     versionSpec: '20.x'

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm install'

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm run build'

# - task: PublishPipelineArtifact@1
#   inputs:
#     targetPath: '$(Pipeline.Workspace)'
#     artifact: 'todouiapp'
#     publishLocation: 'pipeline'