trigger: none

pool: mahesh_pool

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          npm install
          npm run build
