trigger: none 
pool: my agent pool


steps:
- task: SonarQubePrepare@8
  inputs:
    SonarQube: 'ado-sonar-svc'
    scannerMode: 'cli'
    configMode: 'file'

- task: SonarQubeAnalyze@8
  inputs:
    jdkversion: 'JAVA_HOME_17_X64'

- task: SonarQubePublish@8
  inputs:
    pollingTimeoutSec: '300'


# steps:
# - task: NodeTool@0
#   inputs:
#     versionSource: 'spec'
#     versionSpec: '20.x'

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm install'

# - task: PowerShell@2
#   inputs:
#     targetType: 'inline'
#     script: 'npm run build'

# - task: PublishPipelineArtifact@1
#   inputs:
#     targetPath: '$(Pipeline.Workspace)'
#     artifact: 'todouiapp'
#     publishLocation: 'pipeline'