trigger: none 
pool: app pipeline agent


steps:
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: 'npm run build'