trigger: none

pool: mahesh_pool

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          npm install
          npm run build
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build/'
        includeRootFolder: true
        archiveType: 'zip'
        archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
        replaceExistingArchive: true
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'new_infra'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: 'az storage blob upload-batch --account-name stg23 --destination cont23 --source build --overwrite'
    
