trigger: none

pool: my agent pool

stages:
  - stage: Lint_Scanning_Tool
    jobs:
      # - job: Biome_Scan
      #   steps: 
      #   - task: PowerShell@2
      #     displayName: Biome_Scan
      #     continueOnError: true
      #     inputs:
      #       targetType: 'inline'
      #       script: 'biome lint .\src --reporter=junit > result22.xml'
      #   - task: PublishPipelineArtifact@1
      #     displayName: Biome_Result
      #     inputs:
      #       targetPath: '$(Pipeline.Workspace)'
      #       artifact: 'biome artifact'
      #       publishLocation: 'pipeline'

      - job: Markdownlint_Scan
        displayName: Markdownlint_Scan
        steps: 
        - task: PowerShell@2
          displayName: Markdownlint_Scan
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              npm install -g markdownlint-cli
              markdownlint .\README.md --json -o markresult.json
        - task: PublishPipelineArtifact@1
          displayName: markdownlint_Result
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            artifact: 'markdown artifact'
            publishLocation: 'pipeline'

        - task: PowerShell@2
          displayName: Yamllint_Scan
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              pip install --user yamllint
              yamllint $(System.DefaultWorkingDirectory) -f parsable file.yaml
        - task: PublishPipelineArtifact@1
          displayName: Yamllint_Result
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            artifact: 'yamllint artifact'
            publishLocation: 'pipeline'

      # - job: Stylelint_Scan
      #   steps: 
      #   - task: PowerShell@2
      #     displayName: Stylelint Tool
      #     continueOnError: true
      #     inputs:
      #       targetType: 'inline'
      #       script: 'stylelint .\src\App.css --config stylelint.config.mjs'
      #   - task: PublishPipelineArtifact@1
      #     displayName: Stylelint_Result
      #     inputs:
      #       targetPath: '$(Pipeline.Workspace)/stylelintresult.json'
      #       artifact: 'stylelintresult.json'
      #       publishLocation: 'pipeline'

      # - job: Stylelint_Tool2
      #   steps: 
      #   - task: PowerShell@2
      #     displayName: Stylelint_Tool2
      #     continueOnError: true
      #     inputs:
      #       targetType: 'inline'
      #       script: |
      #         stylelint .\src\App.css `
      #           --config stylelint.config.mjs `
      #           --formatter json `
      #           > $(Pipeline.Workspace)/stylelintresult.json

      #   - task: PublishPipelineArtifact@1
      #     displayName: Stylelint_Result2
      #     inputs:
      #       targetPath: '$(Pipeline.Workspace)/stylelintresult.json'
      #       artifact: 'stylelint-result'
      #       publishLocation: 'pipeline'

  - stage: Build_and_Artifact
    jobs:
      - job: 
        steps:
        - task: NodeTool@0
          displayName: Install_NodeJS
          inputs:
            versionSource: 'spec'
            versionSpec: '20.x'


      - job: npm_install_run_build
        steps:
        - task: PowerShell@2
          displayName: npm_install
          inputs:
            targetType: 'inline'
            script: 'npm install'

        - task: PowerShell@2
          displayName: npm_run_build
          inputs:
            targetType: 'inline'
            script: 'npm run build'

        - task: PublishPipelineArtifact@1
          displayName: build_artifact
          inputs:
            targetPath: '$(Pipeline.Workspace)'
            artifact: 'todouiapp'
            publishLocation: 'pipeline'

        - task: DownloadPipelineArtifact@2
          inputs:
            buildType: 'current'
            artifactName: 'todouiapp'
            targetPath: '$(Pipeline.Workspace)'


  - stage: Static_Code_Analysis
    jobs:
      - job: SonarQube_Scan
        steps: 
        - task: SonarQubePrepare@8
          inputs:
            SonarQube: 'ado-sonar-svc'
            scannerMode: 'cli'
            configMode: 'file'

        - task: SonarQubeAnalyze@8
          inputs:
            jdkversion: 'JAVA_HOME_17_X64'

        - task: SonarQubePublish@8
          inputs:
            pollingTimeoutSec: '300'
