trigger: 
 branches:
    include:
      - devolope

pool: mahesh_pool

stages:
- stage: Build
  jobs:
  - job: Build
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '16.x'

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
          npm install
          npm run build
    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build/'
        includeRootFolder: true
        archiveType: 'zip'
        archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
        replaceExistingArchive: true
    
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/build'
        artifact: 'Build'
        publishLocation: 'pipeline'

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: 'curl -u $(NEXUS_USER):$(NEXUS_PASS) --upload-file $(System.DefaultWorkingDirectory)/build-$(Build.BuildId).zip $(NEXUS_URL)/repository/$(NEXUS_REPO)/build-$(Build.BuildId).zip'