name: Demo Workflow

on: 
  workflow_dispatch:
    inputs:
      env:
        description: Select environment
        required: true
        default: dev
        type: choice
        options:
          - dev
          - prod
          - qa

  push:
    branches:
    - main
    - features/**
  # pull_request:
  #   branches:
  #   - main
  #   - features/**

env:
  MY_VAR: Hi there! This workflow running from 
  NAME: ${{inputs.env}}
  MNAME: environment
  managedby: SantoshJi
  


jobs:
  firstjob:
    name: Hello World
    runs-on: ubuntu-latest
    steps:
 
    - name: Print a greeting
      run: |
        echo $MY_VAR $NAME $MNAME, Thanks to $managedby !
