on: 
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build: 
    name: NPM Install and Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 16.x
      - name: version check
        run: |
          node -v
          npm -v
          
      - name: install and build
        env:
          CI: false
        run: |
          npm install
          npm run build
          
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: build-output
          path: |
            build/**
          if-no-files-found: error
          retention-days: 7
          overwrite: true
  release:
    runs-on: ubuntu-latest
    environment: 
      name: dev
    
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v6
        with:
          name: build-output
          path: ./buildartifact

      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Copy Build Output to Azure VM (Username + Password)
        run: |
          sshpass -p "${{ secrets.AZURE_VM_PASSWORD }}" scp -o StrictHostKeyChecking=no -r ./buildartifact/build/* ${{ secrets.AZURE_VM_USER }}@${{ secrets.AZURE_VM_HOST }}:/var/www/app/
      
      
                
